.hello-inner {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 5rem;
    gap: 4rem; 

    @media screen and (max-width:765px) {
        flex-direction: column;
        gap: 6rem;
        padding-top: 6rem;
    }

    .img-wrap {
        border-radius: 1rem;
        overflow: hidden;
        flex-shrink: 0; 

        @media screen and (max-width:1024px) {
            width: 44rem;
            height: 44rem;
        }
        @media screen and (max-width:765px) {
            width: 35rem;
            height: 35rem;
        }
    }

    .t-wrap {
        text-align: center;
        width: 100%;
        max-width: 63rem;

        .txt-2 {
            color: var(--fg);
        }
        h2.tit {
            color: var(--primary);
            margin: 3rem 0 2rem;

            @media screen and (max-width:1024px) {
                font-size: 4.5rem;
            }

            @media screen and (max-width:765px) {
                font-size: 3rem;
            }
        }
        .txt-1 {
            @media screen and (max-width:765px) {
                font-size: 1.6rem;
            }
        }
        .btn {
            width: 18.3rem;
            height: 5.4rem;

            @media screen and (max-width:1024px) {
                width: 13rem;
                height: 4.5rem;
                font-size: 1.4rem;
            }
            @media screen and (max-width:765px) {
                width: 13rem;
                height: 4.5rem;
                font-size: 1.4rem;
            }
        }
    }
}