.hero-container {
  height: 90rem;
  position: relative;

  @media screen and (max-width: 1250px) {
    height: 500px;
  }

  @media screen and (max-width: 768px) {
    height: 600px;
  }

  h2.tit {
    font-size: 7.3rem;

    @media screen and (max-width: 1250px) {
      font-size: 5.5rem;
      line-height: 1.1;
    }
    @media screen and (max-width: 768px) {
      font-size: 3.6rem;
    }
  }

  .swiper {
    height: 100%;
  }

  .hero-slide {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      max-width: none;
      margin: 0;
      padding-left: 7.5vw;
      box-sizing: border-box;
      height: 100%;

      @media screen and (max-width: 1250px) {
        align-items: flex-end;
        padding-bottom: 20rem;
      }

      @media screen and (max-width: 1250px) {
        padding-bottom: 80px;
      }

      @media screen and (max-width: 768px) {
        align-items: flex-end;
        padding-bottom: 50px;
        position: relative;
        z-index: 2;
      }

      .t-wrap {
        margin: 0;
      }

      p.txt {
        font-size: 2.1rem;
        margin-top: 4rem;

        @media screen and (max-width: 1250px) {
          font-size: 1.6rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
        }

        @media screen and (max-width: 765px) {
          font-size: 1rem;
          margin-bottom: 4rem;
        }
      }
      
      a.btn {
        display: inline-block;
        padding: 1.5rem 3.5rem;
        border-radius: 5rem;
        font-size: 1.6rem;
        color: #fff;
        transition: all 0.3s;
        
        @media screen and (max-width: 1250px) {
          width: 13rem;
          height: 4rem;
          margin-bottom: 3rem;
          font-size: 1.2rem;
          padding: 1rem;
        }

        @media screen and (max-width: 765px) {
          display: none;
        }
      }
    }

    &.hs-1 {
      h2.tit { color: var(--main-slider01-tit); }
      p.txt { color: var(--main-slider01-sub); }
      a.btn { 
        background: var(--main-slider01-tit);
        &:hover { color: var(--main-slider01-tit); }
       }
      
      @media screen and (max-width: 765px) {
        background-position: 70% 50%;
      }
    }

    &.hs-2 {
      h2.tit { color: var(--main-slider02-tit); }
      p.txt { color: var(--main-slider02-sub); }
      a.btn { 
        background: #1F3238; 
        &:hover { color: var(--main-slider02-tit); }
      }
      
      @media screen and (max-width: 765px) {
        background-position: 80% 50%;
      }
    }

    &.hs-3 {
      .inner {
        h2.tit { color: var(--main-slider03-tit); }
        p.txt { color: var(--main-slider03-sub); }
        a.btn { 
          background: #453525;
          &:hover { color: var(--main-slider03-tit); }
        }
      }
      
      @media screen and (max-width: 765px) {
        background-position: 50% 50%;
      }
    }

    &.hs-4 {
      h2.tit { color: var(--main-slider04-tit); }
      p.txt { color: var(--main-slider04-sub); }
      a.btn { 
        background: #050E15;
        &:hover { color: var(--main-slider04-tit); }
      }
      
      @media screen and (max-width: 765px) {
        h2.tit {
          color: #767F86;
        }
        background-position: 80% 50%;
      }
    }
  }

  .hero-nav {
    position: absolute;
    z-index: 3;
    left: 7.5vw;
    bottom: 8.7rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 1250px) {
      bottom: 30px;
      gap: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      bottom: 20px;
    }

    .arr-prev,
    .arr-next {
      width: 5rem;
      height: 1.7rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 0;
      cursor: pointer;

      @media screen and (max-width: 1250px) {
        width: 3.5rem;
        height: 1.2rem;
      }
    }

    .arr-prev { background-image: url(/img/icon_main_ban_arrow_prev.svg); }
    .arr-next { background-image: url(/img/icon_main_ban_arrow_next.svg); }

    .swiper-pagination-fraction {
      width: 5rem;
      height: 5rem;
      position: relative;
      font-size: 0;
      color: #000;

      @media screen and (max-width: 1250px) {
        width: 4rem;
        height: 4rem;
      }

      .swiper-pagination-current {
        font-size: 2.2rem;
        position: absolute;
        left: 0;
        top: 0;

        @media screen and (max-width: 1250px) {
          font-size: 1.8rem;
        }
      }

      .swiper-pagination-total {
        font-size: 2.2rem;
        position: absolute;
        right: 0;
        bottom: 0;

        @media screen and (max-width: 1250px) {
          font-size: 1.8rem;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 50px;
        background-color: #000;
        left: 50%;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        transform-origin: 0 0;

        @media screen and (max-width: 1250px) {
          height: 40px;
        }
      }
    }
  } 
}