.instar-inner {
    padding: 0 2rem;

    h2.tit {
        color: var(--primary);
        font-size: 5.5rem;

        @media screen and (max-width: 1024px) {
            font-size: 4.5rem;
        }
    }

    p.txt {
        font-family: 'Arima', serif;
        font-size: 2rem;
        font-style: italic;

        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    .instar-list {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        gap: 1rem;

        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
        }

        li {
            width: 19%;
            margin: 0;

            @media screen and (max-width: 1024px) {
                width: 31%;
            }

            @media screen and (max-width: 768px) {
                width: 45%;
            }

            a {
                display: block;
                width: 100%;
                aspect-ratio: 1 / 1;
                background-size: cover;
                background-position: center;
                border-radius: 1rem;
                font-size: 0;
            }
        }
    }
}